<!doctype html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <title>Login</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'balrog/gate' %>
</head>

<body>

  <%= yield %>

  <footer>
    <a href="https://github.com/pixielabs/balrog" target="_blank">
      <%= image_tag "balrog/logo.png", class: 'logo' %>
    </a>
  </footer>

</body>

</html>