<!doctype html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <title>Login</title>
  <%= stylesheet_link_tag "balrog/gate" %>
</head>

<body>

  <section>
    <div>
      <% if Balrog::Middleware.password_hash %>
        <form action='/balrog/signin' method='POST'>
          <input autofocus type='password' name='password' placeholder='Password'>
          <button type='submit' class="button_background">Login</button>
        </form>
      <% end %>
      <% if Balrog::Middleware.omniauth_config %>
        <%= link_to(
          "Sign in with SSO",
          "/auth/#{Balrog::Middleware.omniauth_config[:provider]}",
          query: current_path,
          class: 'button_background sso_button'
        ) %>
      <% end %>
    </div>
  </section>

  <footer>
    <a href="https://github.com/pixielabs/balrog" target="_blank">
      <%= image_tag "balrog/logo.png", class: 'logo' %>
    </a>
  </footer>

</body>

</html>