<h1 class="rainbow-text">
  This view can be styled if needed.
</h1>

<section>
  <form action='/balrog/signin' method='POST'>
    <input autofocus type='password' name='password' placeholder='Password'>
    <button type='submit'>Login</button>
  </form>
</section>
