<h1 class="rainbow-text">
  This view can be styled if needed.
</h1>

<section>
  <div>
    <% if show_balrog_password_prompt? %>
      <form action='/balrog/signin' method='POST'>
        <input autofocus type='password' name='password' placeholder='Password'>
        <button type='submit' class="button_background">Login</button>
      </form>
    <% end %>
    <% if balrog_omniauth_configured? %>
      <%= link_to(
        "Sign in with SSO",
        "/auth/#{Balrog::Middleware.omniauth_config[:provider]}",
        class: 'button_background sso_button'
      ) %>
    <% end %>
  </div>
</section>

